*.o
*.d
*.a
*.elf
*.size
download.bit
*.bif
*.hdf

# SDK files
RemoteSystemsTempFiles
.metadata
*.jou
*.log
webtalk
*/.*project

drm_audio_fw/src/secrets.h
# Not ignored by above *.a for some reason
drm_audio_fw_bsp/microblaze_0/lib/*
test/*
ps7_init*
drivers/*
